body {
  margin: 0px;
}

/* header */
#header {
  background: #1565c0;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 12%), 0px 2px 2px rgb(0 0 0 / 24%);
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

/* navBar */
.navBar {
  display: flex;
  padding-right: 20px;
  align-items: center;
}

.navBar-item {
  padding-right: 10px;
  color: white;
}

/* interface */
.selectList {
  display: flex;
}

/* select */
.multiSelect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
}

.checkboxes label {
  display: block;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}

/* card */
.cardList {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 366px);
}

.card {
  /* height: 356px; */
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7px;
  padding: 12px;
}

.card-header {
  margin-bottom: 20px;
}

.card-counseling {
  color: #ffa000;
  padding: 3px 8px;
  border: 1px solid #ffa000;
  border-radius: 15px;
  font-weight: 500;
}

.card-due {
  color: gray;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.card-info {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-info-row {
  display: grid;
  grid-template-columns: 40% 60%;
}

.card-info-value {
  font-weight: bolder;
}

.card-buttons {
  margin-bottom: 10px;
}

.card-button-more {
  padding: 8px 12px;
  background: #2196f3;
  color: white;
  border-radius: 4px;
  border: none;
  font-weight: bolder;
  margin-right: 3px;
}

.card-button-chat {
  padding: 8px 12px;
  color: #2196f3;
  border-radius: 4px;
  border: 1px solid #2196f3;
  font-weight: bolder;
  background-color: white;
}

.card-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  font-size: 16px;
}

.card-client {
  margin: 0px;
  font-size: 15px;
}
